body {
  /* margin: 0; */
  /* display: flex; */
  /* place-items: center; */
  max-width: 450px;
  min-width: 250px;
  min-height: 100vh;
  background-color: #f6f6f6;
  margin: 0 auto;
}
* {
  font-size: 14px;
}
