html,
body,
#app {
  height: 100%;
  min-height: 100%;
}
body {
  font-size: 0.14rem;
  color: #303030;
}
div {
  box-sizing: border-box;
}
.popup-btn {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 1.4rem;
  height: 0.52rem;
  line-height: 0.52rem;
  background: #DDDDDD;
  border-radius: 0.26rem;
}
.popup-bd-btn {
  background: #FF6D4F;
  color: #ffffff;
}
.list-b-btn {
  width: 1.98rem;
  height: 0.52rem;
  margin: 0 auto 0.3rem;
  border-radius: 0.25rem;
  color: #ffffff;
  text-align: center;
  line-height: 0.52rem;
  background: #FF6D4F;
}
.list-center {
  padding-top: 0.75rem;
  background: red;
}
.list-center .top-banner {
  margin: 0 auto;
  background: gold;
  width: 3.32rem;
  height: 1.5rem;
  border-radius: 0.1rem;
  overflow: hidden;
}
.list-center .top {
  margin: 0 auto;
  padding: 0.13rem 0.13rem 0;
  width: 2.45rem;
  height: 3rem;
  background: gold;
  border-radius: 0.1rem;
}
.list-center .top .banner {
  width: 100%;
  height: 2.19rem;
}
.list-center .top .title {
  width: 100%;
  height: 0.64rem;
  line-height: 0.64rem;
}
.list-center .list-emoji-title {
  padding: 0.1rem 0.07rem 0;
  color: #ffffff;
  line-height: 0.16rem;
}
.list-center .list-emoji-title h4 {
  font-size: 0.17rem;
  font-weight: bold;
  line-height: 0.34rem;
}
.list-center .list {
  padding: 0 0.14rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.list-center .list .item-container {
  margin-bottom: 0.12rem;
  padding: 0 0.06rem;
  width: 32%;
  /* 三列布局，每列宽度为33.33% */
  height: 1.2rem;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.list-center .list .item-container .item-box {
  padding: 0.06rem 0.06rem 0;
  width: 100%;
  height: 100%;
  background: gold;
  border-radius: 0.08rem;
  overflow: hidden;
}
.list-center .list .item-container .avatar {
  position: relative;
  width: 100%;
  height: 0.78rem;
  overflow: hidden;
}
.list-center .list .item-container .avatar .opa {
  position: absolute;
  top: 0;
  left: 0;
  padding-bottom: 0.05rem;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.list-center .list .item-container .filter {
  filter: blur(5px);
  /* 调整数值来改变模糊程度 */
}
.list-center .list .item-container .title {
  width: 100%;
  height: 0.2rem;
  font-size: 0.12rem;
}
.list-emoji {
  background: red;
}
.list-emoji .list {
  padding: 0.88rem 0.26rem 0;
}
.list-emoji .list .item {
  position: relative;
  margin-bottom: 0.15rem;
  padding: 0.08rem 0.08rem 0;
  width: 1.52rem;
  height: 2.06rem;
  background: yellow;
}
.list-emoji .list .item .avatar {
  width: 100%;
  height: 1.36rem;
  overflow: hidden;
  border-radius: 0.2rem;
}
.list-emoji .list .item .title {
  width: 100%;
  height: 0.36rem;
  line-height: 0.36rem;
  color: #A63B00;
}
.list-emoji .list .item .btnDetail {
  margin: 0 auto;
  width: 0.94rem;
  height: 0.36rem;
  line-height: 0.36rem;
  background: blue;
  border-radius: 0.18rem;
  color: gold;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
