html,
body,
#app {
  height: 100%;
  min-height: 100%;
}

body {
  font-size: 0.14rem;
  color: #303030;
}

div {
  box-sizing: border-box;
}
.details-page .nut-popup {
  padding-top: 0.02rem;
}
.popup-btn {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 1.63rem;
  height: 0.77rem;
  line-height: 0.52rem;
}

.popup-btn-make-dis {
  background: url("../assets/img/btn_make_dis.png") no-repeat center;
  background-size: 1.63rem 0.77rem;
}
.popup-btn-make {
  background: url("../assets/img/btn_make.png") no-repeat center;
  background-size: 1.63rem 0.77rem;
}
.popup-bd-btn {
  background: url("../assets/img/btn_cancel.png") no-repeat center;
  background-size: 1.63rem 0.77rem;
}

.list-b-btn {
  width: 1.98rem;
  height: 0.52rem;
  margin: 0 auto 0.3rem;
  border-radius: 0.25rem;
  color: #ffffff;
  text-align: center;
  line-height: 0.52rem;
  background: #FF6D4F;
}
.bg-btn-make {
  background: url("../assets/img/btn_zhizuo.png") no-repeat center;
  background-size: cover;
}
.bg-btn-lock {
  background: url("../assets/img/btn_jiesuo.png") no-repeat center;
  background-size: cover;
}

.list-center {
  // padding-top: 0.75rem;
  // background: red;

  .top-banner {
    margin: 0 auto;
    background: gold;
    width: 3.32rem;
    height: 1.5rem;
    border-radius: 0.1rem;
    overflow: hidden;
  }

  .top {
    margin: 0 auto;
    padding: 0.13rem 0.13rem 0;
    width: 2.45rem;
    height: 3rem;
    background: gold;
    border-radius: 0.1rem;

    .banner {
      width: 100%;
      height: 2.19rem;
    }

    .title {
      width: 100%;
      height: 0.64rem;
      line-height: 0.64rem;
    }
  }

  .list-emoji-title {
    padding-top: 0.1rem;
    color: #402F1E;
    line-height: 0.16rem;
    text-shadow: 0px 4px 13px rgba(180,59,51,0.4);
    background: linear-gradient(0deg, #FEFAD1 0%, #FDFAF2 99.5849609375%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    h4 {
      font-size: 0.17rem;
      font-weight: bold;
      line-height: 0.34rem;
    }
  }

  .list-emoji-desc {
    font-weight: 400;
    font-size: 12px;
    color: #402F1E;
    line-height: 16px;
    text-shadow: 0px 4px 13px rgba(180,59,51,0.4);
    background: linear-gradient(0deg, #FEFAD1 0%, #FDFAF2 99.5849609375%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .list {
    padding: 0 0.14rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .item-container {
      margin-bottom: 0.12rem;
      padding: 0 0.06rem;
      width: 32%;
      /* 三列布局，每列宽度为33.33% */
      height: 1.2rem;
      padding: 10px;
      margin-bottom: 10px;
      text-align: center;

      .item-box {
        position: relative;
        padding: 0.06rem 0.06rem 0;
        width: 1.04rem;
        height: 1.2rem;
        border-radius: 0.08rem;
        overflow: hidden;
      }

      .avatar {
        position: relative;
        width: 0.93rem;
        height: 0.93rem;
        overflow: hidden;

        .opa {
          position: absolute;
          top: 0;
          left: 0;
          padding-bottom: 0.05rem;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.3);
        }
      }

      .filter {
        filter: blur(5px);
        /* 调整数值来改变模糊程度 */
      }

      .cover-mask {
        position: absolute;
        top: 0;
        left: 0;
        padding-top: 0.98rem;
        width: 100%;
        height: 100%;
        font-size: 0.12rem;
        background: url("../assets/img/card_d.png") no-repeat center;
        background-size: 100% 100%;

        .title {
          position: relative;
          width: 100%;
          height: 0.22rem;
          font-family: Source Han Sans CN;
          font-weight: bold;
          color: #A63B00;
          font-size: 0.12rem;
          span {
            font-size: 0.12rem;
            transform: scale(0.91,0.91) translate(-50%, -50%;);
            transform-origin: 50% 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 0.12rem;
            line-height: 0.12rem;
          }
        }
      }
    }
  }

}

.list-emoji {
  background: red;

  .list {
    padding: 0.88rem 0.26rem 0;

    .item {
      position: relative;
      margin-bottom: 0.15rem;
      padding: 0.08rem 0.08rem 0;
      width: 1.52rem;
      height: 2.06rem;
      background: yellow;

      .avatar {
        width: 100%;
        height: 1.36rem;
        overflow: hidden;
        border-radius: 0.2rem;
      }

      .title {
        width: 100%;
        height: 0.36rem;
        line-height: 0.36rem;
        color: #A63B00;
      }

      .btnDetail {
        margin: 0 auto;
        width: 0.94rem;
        height: 0.36rem;
        line-height: 0.36rem;
        background: blue;
        border-radius: 0.18rem;
        color: gold;
      }
    }
  }
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.details-page, .list-emoji {
  background: url("/src/assets/img/bg.png") no-repeat top;
  background-size: 100% 100%;
}
.details-page {
  min-height: 100vh;

  .nut-avatar-cropper::after {
    display: none;
  }

  .nut-cropper-popup__highlight .highlight {
    width: 3.47rem !important;
    height: 3.47rem !important;
    border: 2px solid #090;
  }

  .nut-cropper-popup__toolbar {
    bottom: 50%;
    margin-bottom: -3.1rem;
  }

  .b-toolbar {
    display: flex;
    flex-direction: column;
    text-align: center;

    i {
      margin: 0.17rem auto;
      width: 0.27rem;
      height: 0.22rem;
      background: url("../assets/img/icon_reversal.png");
      background-size: 100% 100%;
    }

    span {
      margin: 0 auto;
      background: url("../assets/img/btn_finish.png");
      background-size: 100% 100%;
      width: 1.54rem;
      height: 0.67rem;
    }
  }

  .upload-img-pre {
    position: relative;

    i {
      width: 0.16rem;
      height: 0.16rem;
      background: url("../assets/img/icon_upload_re.png");
      background-size: 100% 100%;
      margin-right: 0.08rem;
    }

    .re-upload-btn {
      padding-top: 0.28rem;
      display: flex;
      justify-content: center;
      color: #fff;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 0.55rem;
      background: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));;
      opacity: 0.7;
    }
  }
}